{% extends "layout.html" %}
{% block head %}
    {{ super() }}
    <script>
        $(function () {
            $("#datepicker").datepicker({
                dateFormat: "yy-mm-dd"
            });
        });
    </script>
{% endblock %}
{% block body %}
    <form method="POST" action="{{ url_for('addproject') }}">
    {{ form.csrf_token }}
    {{ form.name.label }} {{ form.name }}
    {% if form.name.errors %}
        <ul>{% for error in form.name.errors %}
            <li>{{ error }}</li>
        {% endfor %}</ul>{% endif %}

    {{ form.startdate.label }} {{ form.startdate(id='datepicker') }}
    {% if form.startdate.errors %}
        <ul>{% for error in form.startdate.errors %}
            <li>{{ error }}</li>
        {% endfor %}</ul>{% endif %}

    <input type="submit" value="Go">
</form>
{% endblock %}