{% extends "layout.html" %}
{% block body %}
    <form method="POST" action="{{ url_for('adduser') }}">
        {{ form.csrf_token }}
        {{ form.username.label }} {{ form.username(size=20) }}
        {% if form.username.errors %}
            <ul>{% for error in form.username.errors %}
                <li>{{ error }}</li>
            {% endfor %}</ul>{% endif %}

        {{ form.password.label }} {{ form.password }}
        {% if form.password.errors %}
            <ul>{% for error in form.password.errors %}
                <li>{{ error }}</li>
            {% endfor %}</ul>{% endif %}

        {{ form.access.label }} {{ form.access }}
        {% if form.access.errors %}
            <ul>{% for error in form.access.errors %}
                <li>{{ error }}</li>
            {% endfor %}</ul>{% endif %}
        <input type="submit" value="Go">
    </form>
{% endblock %}