{% extends "layout.html" %}
{% block head %}
    {{ super() }}
    <script>
        $(function () {
            $("#projects").tabs();
        });
    </script>
    <script>
        $(function () {
            $("input[type=submit], .button").button()
        });
    </script>
{% endblock %}
{% block body %}
    <h1>Scheduler</h1>

    <a class="button" href="{{ url_for('addproject') }}">Add Project</a>
    <a class="button" href="{{ url_for('adduser') }}">Add User</a>
    <a class="button" href="{{ url_for('addmodule') }}">Add Module</a>
    <a class="button" href="{{ url_for('addtask') }}">Add Task</a>
    <h1>Projects</h1>
    <div id="projects">

        <ul>
            {% for entry in output %}
                <li><a href="#{{ entry.name }}">{{ entry.name }}</a></li>
            {% endfor %}
        </ul>
        {% if not output %}
            <p>No projects</p>
        {% endif %}
        {% for entry in output %}
            <div id="{{ entry.name }}">

                <script>
                    $(function () {
                        $("#{{ entry.name }}").tabs();
                    });
                </script>
                <p>Project start date: {{ entry.startdate }}</p>
                <h2>Modules</h2>
                <div id="mod{{ entry.name }}" style="background:rgb(245,245,245)">
                    <ul>
                        {% for module in entry.modules %}
                            <li><a href="#{{ module.id }}">{{ module.name }}</a></li>
                        {% endfor %}
                    </ul>
                    {% if not entry.modules %}
                        <p>No modules</p>
                    {% endif %}
                    {% for module in entry.modules %}
                        <div id="{{ module.id }}">
                            <p>Module start date: {{ module.startdate }}</p>
                            <p>Employee: {{ module.user }}</p>
                            <h3>Tasks</h3>
                            {% if not module.tasks %}
                                <p>No tasks</p>
                            {% endif %}
                            <script>
                                var progInc = 0;
                                var progWhole = 0
                            </script>
                            {% for task in module.tasks %}
                            {% if task.state == 1 %}
                            <script>progInc += {
                            {
                                task.duration
                            };
                            }</script>

                            {% endif %}
                            <script> progWhole += {
                            {
                                task.duration
                            };
                            }</script>
                            {% endfor %}
                            <script> progWhole = (progInc / progWhole) * 100</script>
                            <script>
                                $(function () {
                                    $("#progressbar").progressbar({
                                        value: progWhole
                                    });
                                });
                            </script>

                            <div id="progressbar"></div>

                            {% for task in module.tasks %}

                            <div style="background:#ddd; padding:16px; margin:16px 0; border-radius: 4px">
                                    <p><b>{{ task.name }}</b></p>
                                <p>Duration: {{task.duration }} Day(s)</p>
                                    <p>End date: {{ task.end_date }}</p>
                                    <p>state: {{ task.state }}</p>
                                    <a class="button" href="{{ url_for('edittask', task=task.id) }}">Edit Task</a>
                                </div>
                            {% endfor %}

                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}