{% extends "layout.html" %}
{% block head %}
    {{ super() }}
    <script>
        $(function () {
            $("#projects").tabs();
        });
    </script>
    <script>
        $(function () {
            $("input[type=submit], a, button").button()
        });
    </script>
{% endblock %}
{% block body %}
    <h1>Scheduler</h1>

<a href="{{ url_for('addproject') }}">Add Project</a>
<a href="{{ url_for('adduser') }}">Add User</a>
<a href="{{ url_for('addmodule') }}">Add Module</a>
<a href="{{ url_for('addtask') }}">Add Task</a>
    <div id="projects">

        <ul>
            {% for entry in output %}
                <li><a href="#{{ entry.name }}">{{ entry.name }}</a></li>
            {% endfor %}
        </ul>
        {% for entry in output %}
            <div id="{{ entry.name }}">

                <script>
                    $(function () {
                        $("#{{ entry.name }}").tabs();
                    });
                </script>
                <div id="mod{{ entry.name }}">
                    <ul>
                        {% for module in entry.modules %}
                            <li><a href="#{{ module.id }}">{{ module.name }}</a></li>
                        {% endfor %}
                    </ul>
                    {% for module in entry.modules %}
                        <div id="{{ module.id }}">
                            <p>Module start date: {{ module.startdate }}</p>
                            <p>Employee: {{ module.user }}</p>
                            <p>Tasks</p>
                            {% for task in module.tasks %}
                                <p>{{ task.name }} duration: {{ task.duration }}</p>
                                <a href="{{ url_for('edittask', task=task.id) }}">Edit Task</a>
                            {% endfor %}

                        </div>
                    {% endfor %}
                    <p>Project start date: {{ entry.startdate }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}