{% extends "layout.html" %}
{% block head %}
{{ super() }}
{% endblock %}
{% block body %}
<form method="POST" action="{{ url_for('edittask') }}">
    {{ form.csrf_token }}
    {{ form.duration.label }} {{ form.duration }}
    {% if form.duration.errors %}
        <ul>{% for error in form.duration.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {{ form.state.label }} {{ form.state }}
    {% if form.state.errors %}
        <ul>{% for error in form.state.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {{ form.task_id(value=task) }}
    <input type="submit" value="Go">
</form>
{% endblock %}