{% extends "layout.html" %}
{% block head %}
{{ super() }}
<script>
    $(function () {
        $("input[type=submit], a, button").button()
    });
</script>
{% endblock %}
{% block body %}
<form method="POST" action="{{ url_for('edittask') }}">
    {{ form.csrf_token }}
    {{ form.name.label }} {{ form.name }}
    {% if form.name.errors %}
        <ul>{% for error in form.name.errors %}
            <li>{{ error }}</li>
        {% endfor %}</ul>{% endif %}

    {{ form.duration.label }} {{ form.duration }}
    {% if form.duration.errors %}
        <ul>{% for error in form.duration.errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {{ form.state.label }} {{ form.state }}
    {% if form.state.errors %}
        <ul>{% for error in form.state.errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {{ form.task_id(value=request.args.get('task')) }}
    <a href="{{ url_for('homepage') }}">Cancel</a>
    <input type="submit" value="Go">
</form>
{% endblock %}