{% extends "layout.html" %}
{% block head %}
    {{ super() }}
    <script>
        $(function () {
            $("input[type=submit], a, button").button()
        });
    </script>
{% endblock %}
{% block body %}
    <h1>User List</h1>
    {% for entry in output %}
        <li>{{ entry.user }}</li>
        <ul>
            <li>{{ entry.username }}</li>
            <li>{{ entry.password }}</li>
            <li>{{ entry.access }}</li>
        </ul>
    {% endfor %}
    <a href="{{ url_for('homepage') }}">Schedule</a>
{% endblock %}